<mat-card>
  <div class="alert alert-info">
    <strong>Angular Material Buttons Tutorial</strong>
  </div>
</mat-card>
<mat-card>
  <h2>Simple Button</h2>
  <button mat-button>Simple Button</button>
</mat-card>
<mat-card>
  <h2>Simple Button With Different Themes</h2>
  <button mat-button>Button 1</button>
  <button mat-button color="warn">Button 2</button>
  <button mat-button color="primary">Button 3</button>
  <button mat-button color="accent">Button 4</button>
</mat-card>
<mat-card>
  <h2>Flat Buttons</h2>
  <button mat-flat-button>Button 1</button>
  <button mat-flat-button color="warn">Button 2</button>
  <button mat-flat-button color="primary">Button 3</button>
  <button mat-flat-button color="accent">Button 4</button>
</mat-card>
<mat-card>
  <h2>Raised Buttons</h2>
  <button mat-raised-button>Button 1</button>
  <button mat-raised-button color="warn">Button 2</button>
  <button mat-raised-button color="primary">Button 3</button>
  <button mat-raised-button color="accent">Button 4</button>
</mat-card>
<mat-card>
  <h2>Stroked Buttons</h2>
  <button mat-stroked-button>Button 1</button>
  <button mat-stroked-button color="warn">Button 2</button>
  <button mat-stroked-button color="primary">Button 3</button>
  <button mat-stroked-button color="accent">Button 4</button>
</mat-card>
<mat-card>
  <h2>Buttons With Icon</h2>
  <button mat-icon-button>
    <mat-icon>history</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon>highlight_off</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon>help_outline</mat-icon>
  </button>
</mat-card>
<mat-card>
  <h2>Fab Buttons</h2>
  <button mat-fab>Button 1</button>
  <button mat-fab color="warn">Button 2</button>
  <button mat-fab color="primary">Button 3</button>
  <button mat-fab color="accent">Button 4</button>
</mat-card>
<mat-card>
  <h2>Fab Buttons</h2>
  <button mat-mini-fab>1</button>
  <button mat-mini-fab color="warn">2</button>
  <button mat-mini-fab color="primary">3</button>
  <button mat-mini-fab color="accent">4</button>
</mat-card>