<mat-card>
  <div class="alert alert-info">
    <strong>Angular Material Menu Component</strong>
  </div>
</mat-card>
<mat-card>
  <h2>Basic Menu</h2>
  <button mat-button [matMenuTriggerFor]="basicmenu">Menu</button>
  <mat-menu #basicmenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
    <button mat-menu-item>Meteor</button>
    <button mat-menu-item>Vanilla</button>
  </mat-menu>
</mat-card>
<mat-card>
  <h2>Basic Menu With Icons</h2>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>dashboard</mat-icon>
    Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>favorite</mat-icon>Angular
    </button>
    <button mat-menu-item>
      <mat-icon>favorite_border</mat-icon>React
    </button>
    <button mat-menu-item>
      <mat-icon>launch</mat-icon>Vue
    </button>
    <button mat-menu-item>
      <mat-icon>input</mat-icon>Meteor
    </button>
    <button mat-menu-item>
      <mat-icon>lock</mat-icon>Vanilla
    </button>
  </mat-menu>
</mat-card>
<mat-card>
  <h2>
    Nested Menu
  </h2>
  <button mat-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>dashboard</mat-icon>
    Menu
  </button>
  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu1">Angular</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu2">React</button>
  </mat-menu>

  <mat-menu #subMenu1="matMenu">
    <button mat-menu-item>Angular 1.x</button>
    <button mat-menu-item>Angular 2</button>
    <button mat-menu-item>Angular 4</button>
    <button mat-menu-item>Angular 5</button>
    <button mat-menu-item>Angular 6</button>
  </mat-menu>

  <mat-menu #subMenu2="matMenu">
    <button mat-menu-item>React 16.0</button>
    <button mat-menu-item>React 16.1</button>
    <button mat-menu-item>React 16.2</button>
    <button mat-menu-item>React 16.3</button>
    <button mat-menu-item>React 16.4</button>
    <button mat-menu-item>React 16.5</button>
  </mat-menu>

</mat-card>