<mat-card>
  <div class="alert alert-info">
    <strong>Angular Material List Component</strong>
  </div>
</mat-card>
<mat-card>
  <div>
    <h2>Simple List</h2>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </div>
</mat-card>
<mat-card>
  <div>
    <h2>Navigational List</h2>
    <mat-nav-list>
      <a mat-list-item href="javascript:void(0)"> Link 1 </a>
      <a mat-list-item href="javascript:void(0)"> Link 2 </a>
      <a mat-list-item href="javascript:void(0)"> Link 3 </a>
      <a mat-list-item href="javascript:void(0)"> Link 4 </a>
      <a mat-list-item href="javascript:void(0)"> Link 5 </a>
    </mat-nav-list>
  </div>
</mat-card>
<mat-card>
  <div>
    <h2>Densed List</h2>
    <mat-list dense>
      <mat-list-item> Item 1 </mat-list-item>
      <mat-list-item> Item 2 </mat-list-item>
      <mat-list-item> Item 3 </mat-list-item>
      <mat-list-item> Item 4 </mat-list-item>
      <mat-list-item> Item 5 </mat-list-item>
    </mat-list>
  </div>
</mat-card>
<mat-card>
  <h2>List Item With Selection</h2>
  <mat-selection-list #shoes>
    <mat-list-option>Angular</mat-list-option>
    <mat-list-option>React</mat-list-option>
    <mat-list-option>Node.Js</mat-list-option>
    <mat-list-option>JavaScript</mat-list-option>
  </mat-selection-list>
</mat-card>
<mat-card>
  <div>
    <h2>List With Avatar Image</h2>
    <mat-nav-list>
      <mat-list-item role="listitem">
        <img matListAvatar src="../../assets/images/angular-favicon.png">
        <h3 matLine>Manav Pandya</h3>
        <p matLine>
          <span>Email :</span>
          <span class="demo-2">
            pandya.manav@gmail.com
          </span>
        </p>
      </mat-list-item>
    </mat-nav-list>
  </div>
</mat-card>