<mat-card>
  <div class="alert alert-info">
    <strong>Angular Material Badge Tutorial</strong>
  </div>
</mat-card>
<mat-card>
  <h2>Simple Badge</h2>
  <button mat-button matBadge="25">
    Friend Requests
  </button>
</mat-card>
<mat-card>
  <h2>Simple Badge Before, After and Below Position</h2>
  <button mat-button matBadgePosition="before" matBadge="25">
    Friend Requests
  </button>
  <button mat-button matBadge="15">
    Sent Requests
  </button>
  <button mat-button matBadgePosition="below" matBadge="15">
    Sent Requests
  </button>
</mat-card>
<mat-card>
  <h2>Simple Badge Before and After Position with Different colors</h2>
  <button mat-button matBadgePosition="before" matBadge="25">
    Friend Requests
  </button>
  <button mat-button matBadge="15">
    Sent Requests
  </button>
</mat-card>
<mat-card>
  <h2>Different badge size</h2>
  <button mat-button matBadgePosition="before" matBadgeSize="large" matBadge="25">
    Large Badge
  </button>
  <button mat-button matBadge="15" matBadgeSize="medium">
    Medium Badge
  </button>
  <button mat-button matBadge="15" matBadgeSize="small">
    Small Badge
  </button>
</mat-card>
<mat-card>
  <h2>Simple Badge Before and After Position with Different colors</h2>
  <button mat-button matBadgeDescription="Simple Description" matBadgePosition="before" matBadge="25" matBadgeColor="accent">
    Friend Requests
  </button>
  <button mat-button matBadge="15" matBadgeColor="warn">
    Sent Requests
  </button>
</mat-card>