<mat-card>
  <div class="alert alert-info">
    <strong>Angular Material Tutorial</strong>
  </div>
</mat-card>
<mat-card style="text-align: start !important;">
  <h2>Introduction</h2>
  <hr/> In this part of tutorial series of Angular Material, we will learn about so many topics which are listed below.
  <hr/>
  <ul>
    <li>What is Angular Material</li>
    <li>Why we can use Angular Material</li>
    <li>How to Install Angular Material</li>
    <li>Types of Angular Material Componenet</li>
    <li>Simple Examples</li>
  </ul>
</mat-card>