<mat-nav-list>
    <a href="javascript:void(0);" mat-list-item (click)="open($event)">
        <span mat-line>Facebook</span>
        <span mat-line>Shyare In Facebook</span>
    </a>

    <a href="javascript:void(0);" mat-list-item (click)="open($event)">
        <span mat-line>Twitter</span>
        <span mat-line>Share In Twitter</span>
    </a>

    <a href="javascript:void(0);" mat-list-item (click)="open($event)">
        <span mat-line>LinkedIn</span>
        <span mat-line>Share In LinkedIn</span>
    </a>
</mat-nav-list>